version: "3.8"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Abhi@2283
      POSTGRES_DB: secrets_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - internal

  app:
    build: .
    depends_on:
      - db
    environment:
      - SECRET_ENCRYPTION_KEY=${SECRET_ENCRYPTION_KEY}
      - DATABASE_URL=postgresql://postgres:Abhi%402283@db:5432/secrets_db
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - JWT_ALGORITHM=${JWT_ALGORITHM}
      - JWT_EXP_MINUTES=${JWT_EXP_MINUTES}
    ports:
      - "8000:8000"
    networks:
      - internal

volumes:
  pgdata:

networks:
  internal:
    driver: bridge
